# src is compiled to the lib folder using tsc
src

# node_modules is handled by npm
node_modules

# dev test configurations
as-pect.config.js
jest.config.js

# ts configuration
tsconfig.json

# travis config and coverage
.travis.yml
coverage

# remove as-pect self tests and jest tests
__tests__

# used for --init flag
!init/as-pect.config.js

# used for --init and --types flag
!assembly/__tests__/as-pect.d.ts
